 
 body {
    font-family: Arial, Helvetica, sans-serif;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 8px;
}

form {
    background: black;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    width: 260px;
}

input[type="text"] {
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: right;
    padding-right: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

button {
    width: 55px;
    font-size: 18px;
    border: #f4f6f8;
    cursor: pointer;
}

button:hover {
    background: #d6d6d6;
}

@media (max-width: 480px) {
    body {
        padding: 15px;
    }

    #display {
        height: 48px;
        font-size: 20px;
    }

    button {
        height: 44px;
        font-size: 16px;
    }
    
}

@media (min-width: 768px) {
    .calculator {
        max-width: 360px;
    }

    #display {
        height: 56px;
        font-size: 24px;
    }
    button {
        height: 52px;
        font-size: 19px;
    }

    
}



 





